:root{
  --main-color:#EF885A;
  --line-color:#E4E4E4;
  --font-color: #888;
  --tab-border-color: #ccc;
}

.title{
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.headline{
  font-size: 28px;
  
}

.blind{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}